APP_NAME=
PORT=
APP_ENV=
APP_GLOBAL_PREFIX=

PG_HOST=
PG_PORT=
PG_USERNAME=
PG_PASSWORD=
PG_DATABASE=
PG_SCHEMA=

SWAGGER_TITLE=
SWAGGER_DESCRIPTION=
SWAGGER_VERSION=
SWAGGER_PATH=

LOG_LEVEL=
LOG_AS_JSON=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

AI_PROVIDER=
GEMINI_API_KEY=
STT_PROVIDER=
GROQ_API_KEY=
GROQ_STT_MODEL=
AI_INTERVIEW_AUDIO_MAX_BYTES=

LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_URL=
LIVEKIT_WEBHOOK_SECRET=
